@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');

body, html {
    margin: 0;
}

body {
    height: 100%;
    font-family: 'Montserrat';
}

header {
    position: absolute;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2em); 
    background: white;

    a {
        text-decoration: none;
        color: #000;
        
    }

    a.logo {
        font-weight: bold;
        text-transform: uppercase;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;
        
        li a {
            padding: 1em;
        }
    }
}

.wrapper {
    display: grid;
    grid-template-columns: auto;

    section {
        padding: 3em;

        h1, h2, .read-btn {
            text-transform: uppercase;
            margin: 0;
        }

        h2 {
            font-size: 1.4rem;
        }

        .read-btn {
            text-decoration: none;
            color: #000;
            font-weight: bold;
            background: url(../arrow.png) no-repeat;
            background-size: 16px;
            background-position: 0 1px;
            padding-left: 1em;
        }
    }
}