@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');

$primary-color: #FFCC00;

body, html {
    margin: 0;
}

body {
    height: 100%;
    font-family: 'Montserrat';
}

header {
    position: absolute;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2em); 
    background: white;

    a {
        text-decoration: none;
        color: #000;
        
    }

    a.logo {
        font-weight: bold;
        text-transform: uppercase;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;
        
        li a {
            padding: 1em;
        }
    }
}

.wrapper {
    display: grid;
    grid-template-columns: auto;

    section {
        padding: 3em;

        h1, h2, .read-btn {
            text-transform: uppercase;
            margin: 0;
        }

        h2 {
            font-size: 1.4rem;
        }

        .read-btn {
            text-decoration: none;
            color: #000;
            font-weight: bold;
            background: url(../arrow.png) no-repeat;
            background-size: 16px;
            background-position: 0 1px;
            padding-left: 1.5em;
        }

        .primary {
            padding: 1.5em 1.5em 1.5em calc(3em + 25px);
            background-position: 3em;
            border: 1px solid gray;
            display: inline-block;
            margin-top: 3em;
            margin-left: -3em;
        }

        .clipper {
            overflow: hidden;
        }
    }

    section.hero {
        padding-top: 8em;
        background: url(../musician.jpg);
        background-size: cover;

        p {
            width: 70%;
            font-size: 1.2rem;
            margin-bottom: 0;
        }
    }

    section.sidebar,
    section.subscribe {
        font-size: .9rem;
        line-height: 1.6em;
    }


    section.sidebar {
        background: $primary-color;
    
        .read-btn {
            margin-top: 2em;
            display: block;
            background-position: 0 .2em;
        }
    }

    section.subscribe {
        
        input {
            width: calc(100% - 2em);
            padding: 1em;
            font-family: 'Montserrat';
            margin-bottom: 1em; 
        }

        button {
            width: 100%;
            background-color: #000;
            color: #fff;
            padding: 1em;
            border: none; 
            font-family: 'Montserrat';
        }
    }
}